<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="securitybehavior">
					<clientCredentials>
						<serviceCertificate>
							<authentication certificateValidationMode="None"/>
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
   <customBinding>
    <binding name="Streams" closeTimeout="00:10:00" openTimeout="00:10:00"
     receiveTimeout="00:10:00" sendTimeout="00:10:00">
     <security authenticationMode="UserNameOverTransport" />
     <textMessageEncoding>
      <readerQuotas maxDepth="32" maxStringContentLength="504003200"
       maxArrayLength="504003200" maxBytesPerRead="504003200" maxNameTableCharCount="504003200" />
     </textMessageEncoding>
     <httpsTransport maxBufferPoolSize="504003200" maxReceivedMessageSize="504003200"
      maxBufferSize="504003200" />
    </binding>
   </customBinding>
   <wsHttpBinding>
    <binding name="CustomBinding_IEmailService">
     <security mode="TransportWithMessageCredential">
      <transport clientCredentialType="None" />
      <message clientCredentialType="UserName" establishSecurityContext="false" />
     </security>
    </binding>
   </wsHttpBinding>
  </bindings>
		<client>
   <endpoint address="https://localhost:3362/test.svc" behaviorConfiguration="securitybehavior"
    binding="customBinding" bindingConfiguration="Streams" contract="TestService.ITestService"
    name="CustomBinding_ITestService">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
   <endpoint address="https://localhost:3362/EmailService.svc" binding="wsHttpBinding"
    bindingConfiguration="CustomBinding_IEmailService" contract="EmailService.IEmailService"
    name="CustomBinding_IEmailService" />
  </client>
	</system.serviceModel>
</configuration>